@import "../../Styles/mixins.modules.scss";

.miniYou {
  border: 1px solid blue !important;
  // height: 20%;
}

.characterYouMini {
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: auto;

  // border: 1px solid var(--color-pink);
  // background: var(--color-pink);
  // padding: 2px;
  // border-radius: 16px;
}

.doorPickerContainer {
  // border: 1px solid blue !important;
  display: flex;

  position: absolute;
  z-index: 5;
  background: transparent;
  cursor: pointer;
}

.rightDoor {
  // border: 1px solid orange !important;
  display: flex;
  right: -20%;
  top: 50%;
  transform: translate(0, -50%);

  &.door-open {
    width: 20%;
    height: 20%;
  }

  .doorImage {
    // border: 1px solid green !important;
    width: 100%;
    height: auto;
  }
}

.bottomDoor {
  // border: 1px solid blue !important;
  display: flex;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);

  &.door-open {
    background: var(--grass-color) !important;
    width: 20%;
  }

  .doorImage {
    // border: 1px solid red !important;
    height: 100%;
    width: 100%;
  }
}

.doorPickerDropdown {
  :global {
    // MuiInputBase-root fieldset

    // hide dropdown caret
    svg[class*="MuiSelect-icon"] {
      display: none;
    }

    fieldset {
      border: none;
      padding: 0px !important;
      height: 100%;
      top: unset;

      legend {
        display: none;
      }
    }

    [class*="MuiInputBase-input"] {
      padding: 0;
    }
  }
}

.doorPickerItem {
  display: flex;

  justify-self: center;
  justify-content: center;

  height: 50px;

  min-height: 50px;
  min-width: 50px;

  img {
    height: 100%;
    justify-self: center;
    justify-content: center;
  }
}

.characterImageMini {
  display: flex;
  z-index: 3;
  align-self: flex-end;
}

.character1Mini {
  height: 100%;
  width: auto;
  // background: var(--translucent-white);
  // border-radius: 46%;
  // border: 10px solid blue !important;
}

.main {
  --fence-width: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  position: relative;

  height: 100%;

  .imagesBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .locationTitle {
    @include item-label;
  }

  .miniLocationImage {
    display: flex;
    align-self: center;

    height: 50%;
    width: auto;
    max-width: 100%;
  }

  .characters {
    display: flex;
    position: absolute;

    height: 25%;
    bottom: 8%;
    left: 10%;
  }

  .itemImage {
    display: flex;
    position: absolute;

    height: 10%;
    width: auto;

    right: 10%;
    bottom: 10%;
  }
}

.activeClass {
  :global {
    [class*="MiniLocation_grassImage"] {
      border: 2px solid red !important;
      background: var(--color-yellow);
    }
  }
}

.rockImage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.grassImage {
  display: flex;

  position: absolute;
  border-radius: 4%;
  width: 96%;
  height: 96%;
  background: var(--grass-color);
}
