@import "../../Styles/mixins.modules.scss";

.doorPickerDropdown {
  // border: 1px solid green !important;

  :global {
    // MuiInputBase-root fieldset
    fieldset {
      border: none;
      padding: 0px !important;

      legend {
        display: none;
      }
    }

    // Show empty box when no item is selected, or there is no image
    [class*="MuiSelect-select"] {
      width: 60px;
      height: 60px;
      border: 1px solid red;
    }

    [class*="MuiFormControl-root"] {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    [class*="MuiInputBase-input"] {
      // border: 1px solid blue !important;
      padding: 0;
    }

    // hide dropdown caret
    svg[class*="MuiSelect-icon"] {
      border: 1px solid purple !important;
      display: none;
    }
  }
}

.doorPickerItem {
  // border: 1px solid red !important;
  display: flex;
  justify-self: center;
  justify-content: center;

  height: 50px;
  width: 50px;

  min-height: 50px;
  min-width: 50px;

  img {
    height: 100%;
    // border: 1px solid blue !important;
  }
}

.characterImageMini {
  display: flex;
  z-index: 3;
  align-self: flex-end;
}

.character1Mini {
  height: 100%;
  width: auto;
  background: var(--translucent-white);
  border-radius: 46%;
}

.main {
  --fence-width: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  position: relative;

  height: 100%;

  .topRow,
  .midRow,
  .bottomRow,
  .leftCol,
  .midCol,
  .rightCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;

    height: 100%;
  }

  :global {
    .right-side-door,
    .left-side-door,
    .top-door,
    .bottom-door {
      position: absolute;
      display: flex;
      background: transparent;
      border: none;
      z-index: 5;
      cursor: pointer;

      img {
        position: absolute;

        left: 0;
        top: 0;

        height: 100%;
        width: auto;
      }

      &.door-open {
        background: var(--grass-color) !important;
      }
    }

    .bottom-door {
      height: 20%;
      width: 20%;

      bottom: -10%;
      left: 50%;
      transform: translateX(-50%);

      &.door-open {
        width: 20%;
      }

      img {
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .right-side-door {
      width: 20%;
      right: -10%;
      height: auto;
      top: 39%;

      &.door-open {
        width: 20%;
        height: 20%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .imagesBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .locationTitle {
    @include item-label;
  }

  .miniLocationImage {
    display: flex;
    align-self: center;

    height: 50%;
    width: auto;
    max-width: 100%;
  }

  .characters {
    display: flex;
    position: absolute;

    height: 41%;
    bottom: 8%;
    left: 10%;
  }

  .itemImage {
    display: flex;
    position: absolute;

    height: 10%;
    width: auto;

    right: 10%;
    bottom: 10%;
  }
}

.activeClass {
  :global {
    [class*="MiniLocation_grassImage"] {
      // background: rgb(236, 251, 235);
    }
  }
}

.rockImage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.grassImage {
  display: flex;

  position: absolute;
  border-radius: 4%;
  width: 96%;
  height: 96%;
  background: var(--grass-color);
}
