@import "../../Styles/mixins.modules.scss";

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.charactersContainer {
  overflow: hidden;
  z-index: 10;
  width: 100%;

  > div {
    display: flex;
    display: inline-flex;
    height: 100%;
  }
}

.characters {
  display: flex;
  position: absolute;
  width: 100%;

  height: 25%;
  bottom: 8%;
  left: 10%;
}

.isBlank {
  border: none !important;
}

.isStartScene {
  :global {
    [class*="MiniLocation_grassImage"] {
    }
  }
}

.activeClass {
  :global {
    [class*="MiniLocation_grassImage"] {
      background: var(--color-yellow);
      border-radius: 11px;
      overflow: hidden;
    }
  }
}

.isStartSceneCheckBox {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.isEndSceneCheckBox {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.characterYouMini {
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: auto;
}

.cloudImageContainer {
  display: flex;
  position: absolute;
  z-index: 100;
  height: 100%;
  border-radius: 11px;
  width: 100%;
  overflow: hidden;
}

.cloudImage {
  display: flex;

  height: 100%;
  width: 100%;
}

.doorPickerContainer {
  display: flex;
  position: absolute;
  z-index: 5;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
}

.rightDoor {
  right: -36%;
  top: 50%;
  transform: translate(0, -50%);

  &.door-open {
    width: 20%;
    height: 20%;
  }

  .doorImage {
    width: 100%;
    height: auto;
  }
}

.leftDoor {
  left: -20%;
  top: 50%;
  transform: translate(0, -50%);

  &.door-open {
    width: 20%;
    height: 20%;
  }

  .doorImage {
    width: 100%;
    height: auto;
  }
}

.bottomDoor {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);

  &.door-open {
    background: var(--grass-color) !important;
    width: 20%;
  }

  .doorImage {
    height: 100%;
    width: 100%;
  }
}

.doorPickerDropdown {
  :global {
    // hide dropdown caret
    svg[class*="MuiSelect-icon"] {
      display: none;
    }

    fieldset {
      border: none;
      padding: 0px !important;
      height: 100%;
      top: unset;

      legend {
        display: none;
      }
    }

    [class*="MuiInputBase-input"] {
      padding: 0;
    }
  }
}

.doorPickerItem {
  display: flex;

  justify-self: center;
  justify-content: center;

  height: 50px;

  min-height: 50px;
  min-width: 50px;

  img {
    height: 100%;
    justify-self: center;
    justify-content: center;
  }
}

.characterImageMini {
  display: inline-flex;
  z-index: 3;
}

.character1Mini {
  height: 100%;
  width: auto;
  display: inline-flex;
}

.main {
  --fence-width: 2%;
  --story-item-height: 10vh;
  --story-item-width: calc(var(--story-item-height) * 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  overflow: hidden;
  position: relative;

  border: 1px solid green;
  border-radius: 9%;

  height: var(--story-item-height);
  width: var(--story-item-width);

  min-height: var(--story-item-height);
  min-width: var(--story-item-width);

  max-height: var(--story-item-height);
  max-width: var(--story-item-width);

  margin-right: 43px;
  margin-bottom: 15px;

  overflow: visible;

  .imagesBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    overflow: hidden;
    height: var(--story-item-height);
    width: var(--story-item-width);
  }

  .locationTitle {
    @include item-label;
    position: absolute;
    border: 1px solid red !important;
    background: var(--light-pink);
    border-radius: 3px;
    padding: 0 3px;
    left: 4%;
    top: 4%;
    z-index: 101;
  }

  .miniLocationImage {
    display: flex;
    align-self: center;

    height: 50%;
    width: auto;
    max-width: 100%;
  }

  .itemImage {
    display: flex;
    position: absolute;

    height: 10%;
    width: auto;

    right: 10%;
    bottom: 10%;
  }
}

.rightPath {
  position: absolute;
  display: flex;
  height: 27%;
  width: 50%;
  right: -42%;
  z-index: 1000;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background: var(--color-yellow);
  transform: translateY(-50%);
  top: 50%;
}

.bottomPath {
  position: absolute;
  display: flex;
  height: 25%;
  width: 27%;
  bottom: -22%;
  z-index: 1000;

  transform: translateX(-50%);
  left: 50%;
  border-right: 1px solid green;
  border-left: 1px solid green;
  background: var(--color-yellow);
}

.grassImage {
  display: flex;

  position: absolute;
  width: 100%;
  height: 100%;
  // background: var(--grass-color);
  background: var(--color-yellow);
  border-radius: 11px;
}
