@import "../../Styles/mixins.modules.scss";

.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .halfPage {
    display: flex;
    position: relative;
  }

  .leftHalf {
    width: 50%;
    max-width: 730px;
  }

  .rightHalf {
    flex: 2;
    width: 65vw;
  }
}

.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  border: 1px solid var(--color-red) !important;
  color: var(--color-purple);
  background: var(--color-pink);
}

.worldTitle {
  position: absolute;
  display: flex;
  z-index: 1000;
  background-color: lightyellow !important;
  top: 1%;
  font-size: 3vh;
  padding: 0.4% 1%;
  left: 2%;
  border-radius: 11px;
  border: 2px solid purple;
}
