@import "../../Styles/mixins.modules.scss";

.main {
  position: relative;
  display: flex;
  height: 100%;
  // width: 100%;
  overflow: hidden;
  width: 100vw;

  .halfPage {
    display: flex;
    position: relative;
  }

  .leftHalf {
    flex: 1;
    max-width: 768px;
  }

  .rightHalf {
    flex: 1;
    width: 65%;
  }
}

.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  border: 1px solid var(--color-red) !important;
  color: var(--color-purple);
  background: var(--color-pink);
}

.worldTitle {
  position: absolute;
  display: flex;
  z-index: 1000;
  background-color: lightyellow !important;
  font-size: 3vh;
  padding: 0.4% 1%;
  border-radius: 11px;
  border: 2px solid purple;
  left: 50%;
  transform: translateX(-50%);
  top: 2vh;
}
