.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  left: 2%;
  top: 50%;
  z-index: 20;
  border: 1px solid red !important;
  color: purple;
  background: pink;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;

  height: 100%;

  &.smallMap {
    .leftHalf {
      flex: 2;
    }

    .rightHalf {
      flex: 1;
    }
  }

  .halfPage {
    display: flex;
    position: relative;
    border: 2px solid purple !important;
  }

  .leftHalf {
    flex: 1;
  }

  .rightHalf {
    flex: 2;
  }

  .sceneList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 24px;
    background: var(--color-pink);
    padding: 15px;
    border-radius: 10px;
    right: 33px;

    .scene {
      display: flex;
      align-items: center;

      height: 24px;
    }

    .sceneName {
      margin-left: 8px;
    }
  }

  .miniLocation {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .pageNumber {
    position: absolute;
    background: aliceblue;
    padding: 0 6px;
    border-radius: 0 0 3px 0;
    left: 3px;
    top: 3px;
  }

  .backgroundImage {
    display: flex;

    width: 100%;
    height: auto;
  }

  .locationHeader {
    position: absolute;
    z-index: 10;
    display: flex;

    font-size: 24px;
    bottom: 3px;
    left: 3px;

    text-transform: capitalize;
    background: pink;
    border-radius: 4px;
    padding: 0 6px;
  }

  .characterImageMini {
    display: flex;
    z-index: 3;
    align-self: flex-end;
  }

  .character1Mini {
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: auto;
  }

  .characterYouMini {
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: auto;

    border: 1px solid var(--color-pink);
    background: var(--color-pink);
    padding: 2px;
    border-radius: 16px;
  }

  .character1 {
    bottom: 0px;
    left: 50px;
    height: 200px;
    width: auto;
  }
}

.bigMiniImage {
  position: absolute;
  display: flex;
  left: 15%;
  bottom: 0px;

  :global {
    [class*="PicturePage_character"] {
      height: 250px !important;
    }
  }
}

.mapScroller {
  display: flex;
  position: relative;
  min-width: 100%;
}

.miniLocationsGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;

  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;

  border-radius: 1%;
  overflow: hidden;
}

.miniActiveLocation {
  position: absolute;
  bottom: 16% !important;
  left: 50% !important;
  transform: translateX(-50%);
  height: 46%;
}

.miniLocationsRow {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
