@import "./Styles/colors.modules.scss";
@import "./Styles/sizes.modules.scss";

body {
  margin: 0px;
}

.App {
  text-align: center;
  display: flex;
  flex: 1;
}

.mobile {
  --window-height: 360px;
  --story-font-size: 16px;
}

.desktop {
  --window-height: 100vw;
  --story-font-size: 30px;
  overflow: hidden;

  // TODO: use this for font size:
  // font-size: 15vmin;
}

.mediaMsg {
  border: 1px solid red !important;
  position: absolute;
  z-index: 5;
  background: lightpink;
  right: 0px;
}
