body {
  border: 5px solid orange !important;
  margin: 0px;
}

.App {
  --color-blue: blue;
  --color-blue-light: #00ade4;
  --color-purple: #9451f9;
  --color-purple-dark: #9451f9;
  --color-pink: #00ade4;

  text-align: center;
  display: flex;
  flex: 1;

  height: 360px;
  overflow: hidden;
  // height: 100vw;
  // height: 100vh;
}
