body {
  margin: 0px;
}

.App {
  --color-blue: blue;
  --color-blue-light: #00ade4;
  --color-purple: #9451f9;
  --color-purple-dark: #9451f9;
  --color-pink: #00ade4;

  text-align: center;
  display: flex;
  flex: 1;
}

.mobile {
  --window-height: 360px;
  border: 5px solid red !important;
}

.desktop {
  --window-height: 100vh;
  // --window-height: 100%;
  overflow: hidden;
}

.mediaMsg {
  border: 1px solid red !important;
  position: absolute;
  z-index: 5;
  background: lightpink;
  right: 0px;
}
