@import "../../Styles/mixins.modules.scss";

.main {
  z-index: 1000;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  :global {
    .bp3-popover-target {
    }
  }
}

.worldPickerButton {
  display: flex;
  color: var(--color-purple);
  font-size: 4vmin;
}

.mapPickerRowTitle {
  display: flex;
  flex: 1;
}

.mapPickerRow {
  justify-content: space-between;
  border: 1px solid green !important;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.mapPickerRowButtons {
}
