@import "../../Styles/mixins.modules.scss";

.main {
  z-index: 1000;
  display: flex;
  flex: 1;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 1px solid red !important;

  :global {
    .bp3-popover-target {
    }
  }
}

.worldPickerButton {
  display: flex;
  color: var(--color-purple);
  font-size: 4vmin;
}
