.test {
  border: 10px solid red !important;
  position: fixed;
  right: 100px;
  z-index: 50;
}

.textPage {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  background: #efdfdf;
  top: 0.25rem;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 0.25rem;
  min-height: 20%;
  width: 98%;
  /* transform: translateX(-50%); */
  left: 50%;
  margin-left: -49%;

  .decisionButtonRow {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 50%;

    .choiceButton {
      display: flex;
      align-items: center;
      flex: 1 1;
      height: 56px;
      font-size: 22px;
      text-transform: capitalize;
      margin: 1px;
      border: 5px solid red !important;
      font-size: 58px;
    }
  }
}

.story {
  display: flex;
  flex-direction: column;

  padding-top: 24px;
  height: 100%;
  border: 3px solid purple;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  width: 300px;
  margin-left: auto;

  height: 50px;
  font-size: 36px !important;
  background-color: pink !important;
  color: purple !important;
  font-weight: bold !important;
}
