@import "../../Styles/mixins.modules.scss";

.textPage {
  display: flex;
  flex-direction: column;
  position: relative;

  .decisionButtonRow {
    display: flex;
    justify-content: space-around;
    bottom: 2%;
    z-index: 10;
    background: var(--set1-pink-bk);
    border: 2px solid var(--set1-purple-brdr);
    border-radius: 9px;
    width: 100%;
  }
}

// .choiceButton {
//   @include set-1;
//   display: flex;
//   align-items: center;
//   flex: 1 1;
//   font-size: 22px;
//   margin: 1px;
//   font-size: 2.5vh;
//   border-radius: 1vh;
//   max-width: 275px;
//   min-width: 150px;
// }

// .newGameButton {
//   @include set-1;
//   display: flex;
//   align-items: center;
//   flex: 1 1;
//   font-size: 22px;
//   text-transform: capitalize;
//   margin: 1px;
//   font-size: 2.5vh;
//   border-radius: 1vh;
//   max-width: 275px;
//   min-width: 150px;
//   background: var(--color-yellow) !important;
//   margin-left: auto;
// }

.story {
  display: flex;
  flex-direction: column;

  padding-top: 24px;
  height: 100%;
  border: 2px solid var(--set1-purple-brdr);
}
