.textPage {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  background: #efdfdf;
  top: 1rem;
  border: 3px solid purple;
  border-radius: 10px;
  padding: 1rem;
  // max-width: 800px;
  // min-height: 280px;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;

  .decisionButtonRow {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0px;

    .choiceButton {
      display: flex;
      align-items: center;
      flex: 1 1;
      height: 56px;
      font-size: 22px;
      text-transform: capitalize;
      margin: 1px;
    }
  }
}

.story {
  display: flex;
  flex-direction: column;

  padding-top: 24px;
  height: 100%;
  border: 3px solid purple;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  width: 300px;
  margin-left: auto;

  height: 50px;
  font-size: 36px !important;
  background-color: pink !important;
  color: purple !important;
  font-weight: bold !important;
}
