.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: #f3e4e7;

  height: 100%;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;

    font-size: 24px;
    width: 100%;
    height: 56px;
    background: #e6c9e6;
    padding-left: 40px;

    .newStoryBtn {
      margin-left: 100px;
    }
  }

  .body {
    display: flex;
    width: 100%;
    height: 100%;

    .storyBox {
      display: flex;
      width: 100%;
      height: 800px;
    }
  }
}

.introPage {
  border: 1px solid red !important;
  display: flex;
  flex-direction: column;
  // flex: 1;
  height: 100vh;
}

.characterImage {
  display: flex;
  width: 500px;
  height: auto;
  height: 550px;
  width: auto;
  /* height: 40%; */
  width: auto;
  /* flex: 1; */
}

.backgroundImage1,
.backgroundImage2 {
  width: 50%;
}

.backgroundImage2 {
  left: 50%;
}

.backgroundImage {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: -1;
}

.characters {
  // border: 1px solid blue !important;
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  bottom: 0px;
}
