.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: #f3e4e7;
  overflow: hidden;

  height: var(--window-height);

  .body {
    display: flex;
    width: 100%;
    height: 100%;

    .storyBox {
      display: flex;
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

.floatingButtons {
  position: absolute;
  z-index: 5;
  background: #f3c2c2;
  right: 0px;
  top: 10%;
  transform: translateY(-50%);
}

.settingButtons {
  background: #f3c2c2;
  display: flex;
  flex-direction: column;
}
