@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: var(--color-pink);

  height: var(--window-height);

  .body {
    display: flex;
    width: 100%;
    height: 100%;

    .storyBox {
      display: flex;
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

.mapTitle {
  @include set-1;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  position: absolute;
  font-size: 4vmin;
  z-index: 2;
  border: 2px solid var(--set1-purple-brdr);
  background: var(--set1-lav-bk);
  // font-family: fantasy;
  font-weight: bold;
  border-radius: 1rem;
  top: 1rem;
  right: 2%;
}

.toggleWorldBuilder {
  position: absolute;
  display: flex;
  z-index: 1000;
  background-color: transparent !important;
  height: 3%;
  width: 3%;
  bottom: 1px;
  right: 0px;
}

.floatingButtons {
  position: absolute;
  z-index: 5;
  background: var(--color-pink);
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}

.settingButtons {
  background: var(--color-pink);
  display: flex;
  flex-direction: column;
}

.levelCompleteDialog {
  @include set-2;
  border: 2px solid var(--set1-purple-brdr);
  background: var(--light-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  color: var(--set1-purple-brdr);
  width: 50%;
  padding: 1rem;
  top: 1%;
  position: absolute;
  left: 1%;
}

.levelCompletionButton {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;

  height: 54px;
  font-size: 2vmin;
  width: 20%;
  background-color: #e600ff !important;
}

.levelCompletionMessage {
  display: flex;
}
