@import "../../Styles/mixins.modules.scss";

.main {
  --pink-background: #e6e6fa57;

  border: 2px solid var(--set1-purple-brdr);
  background: var(--light-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid var(--set1-purple-brdr);
  background: var(--light-pink);
  font-size: 4vmin;
  color: var(--set1-purple-brdr);
  max-width: 50%;
  padding: 1rem;
  top: 6%;
  left: 25%;
  height: 70vh;
  width: 70vw;
  overflow: hidden;
}

.backgroundImage {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.playButton {
  display: flex;
  justify-self: center;
  align-self: center;

  font-size: 2vmin;
  background-color: var(--color-purple) !important;
  margin-top: 2%;
}

.levelCompletionMessage {
  display: flex;
}

.questPage {
  display: flex;
  border: 1px solid blue !important;
  width: 100%;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: var(--pink-background);
  border-radius: 0.5vh;
  width: fit-content;
  align-self: center;
}

.playerStatsSection {
  display: flex;
  border: 1px solid black !important;
  color: black;
  background: lavender;
  border-radius: 0.5vh;
  flex-direction: column;
  align-self: flex-end;
  padding: 0.6vh 0.9vh;
  font-size: 2vh;
  width: 25%;
}

.gameTitle {
  display: flex;
  border: 1px solid green !important;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0 1vh;
  border-radius: 0.5vh;
}

.content {
  display: flex;
  border: 1px solid green !important;
  width: 100%;
  flex: 1;
  padding: 1vh;
}

.playerStatsRow {
  display: flex;
  border: 1px solid red !important;
}

.playerStatsKey {
  display: flex;
  border: 1px solid red !important;
  width: 80%;
  white-space: nowrap;
}

.playerStatsValue {
  display: flex;
  border: 1px solid red !important;
  width: 20%;
}

.questTable {
  display: flex;
  border: 1px solid red !important;
  width: 100%;
  flex: 1 1;
  margin-top: 2vh;
  flex-direction: column;
  background: #e9f0ff;
  font-size: 24px;
  color: black;
}

.questRow {
  display: flex;
  border: 1px solid green !important;
  border-bottom: none;
  width: 100%;
  flex: 1;

  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}

.tableHeader {
  display: flex;
  border: 1px solid brown !important;
  width: 100%;
  height: 20px;
}

.tableCell {
  display: flex;
  border-right: 1px solid blue !important;
  width: 100%;
  flex: 1;
}

.questStatus {
  display: flex;
}

.questName {
  display: flex;
}
