@import "../../Styles/mixins.modules.scss";

.addCharacterButton {
  z-index: 10;
}

.relativePositionedContent {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: flex-end;
}

.imageGroups {
  display: flex;
  bottom: 1%;
  width: 100%;
  flex-direction: column;
  margin-top: 25%;
  margin-top: 6%;
  height: 42%;
}

.itemsContainer {
  display: flex;
  width: 100%;
  height: 100px;
  overflow: hidden;
  width: fit-content;
  margin-left: 3%;
}

.itemContainer {
  display: flex;
  margin-right: 6px;

  [class*="ImageDisplay_imageContainer"] {
    border: 1px solid blue;
    border-radius: 10%;
    background: white;
    z-index: 1 !important;
    width: 100px !important;
  }
}

.crudMachine {
  position: absolute;
  top: 16%;
  width: 50%;
  z-index: 10;
  height: 25% !important;
}

.scenes {
  display: flex;
  position: relative;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
}

.closeFacePickerButton {
  position: absolute;
  right: 0px;
}

.locationLabel {
  @include item-label;
  position: absolute;
  border: 1px solid blue !important;
  top: 2%;
  background: var(--light-pink);
  border-radius: 3px;
  padding: 0 3px;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 25%);
  width: auto;
  top: unset;
  bottom: 27%;
}

.closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.wordsContainer {
  display: flex;
  z-index: 1;
  padding: 2%;
  flex-direction: column;
  border: 1px solid purple !important;
  margin: 0px 15px;
  border-radius: 6px;
  background: white;
  padding: 2%;
}

.narrative {
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
  background: white;
  margin-bottom: 1rem;
  position: relative;
}

.dialog {
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
  background: white;
  position: relative;

  :global {
    [class*="WordGroup_main__"]:last-of-type {
      margin-bottom: unset;
    }
  }

  .line {
    margin-bottom: 2%;
    border-radius: 0.5rem;
    width: fit-content;
    min-width: 73%;

    [class*="WordGroup_sentence__"] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 3vmin;
    }
  }

  .character1 {
    border: 1px solid orange !important;
    color: #8610ff;
    background: #f7e59a;
    margin-left: auto;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-end;
    }
  }

  .character0 {
    border: 1px solid #ff005c !important;
    background: #ffcee6;
    color: #8610ff;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-start;
    }
  }
}

.girlPickersContainer {
  border: 2px solid var(--set1-purple-brdr);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background: var(--set1-lav-bk);
  margin: 24px;
  border-radius: 5px;
  z-index: 2000;
  position: absolute;
  top: 0px;
  width: 31%;
}

.girlPickerContainer {
  display: flex;
  background: var(--set1-pink-bk);
  border-radius: 0.3rem;
  height: 100%;
  align-items: flex-start;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
}

.narrativeClass {
  :global {
    [class*="WordGroup_sentenceWord__"] {
      border: 1px solid green !important;
      font-size: 3vmin;
    }
  }
}

.scenesContainer {
  border: 1px solid blue;
  display: flex;
  height: 100%;
  position: relative;
}

.locationImageContainer {
  height: 17%;
  position: absolute;
  bottom: 28%;
  right: 2%;
  z-index: 0;

  .locationImage {
    height: 100%;
    width: auto;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: unset;
  }
}

.backgroundGrassHill {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 72%;
}

.charactersContainer {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: auto;
  height: 25vh;
}

.characterContainer {
  display: flex;
  height: 100%;
  width: 16%;

  &:nth-of-type(3) {
    margin-left: auto;
  }
}

.buttonsContainer {
  display: flex;
}

.newGameButton {
  @include set-1;
  display: flex;
  align-items: center;
  flex: 1 1;
  font-size: 22px;
  text-transform: capitalize;
  margin: 1px;
  font-size: 2.5vh;
  border-radius: 1vh;
  max-width: 275px;
  min-width: 150px;
  background: var(--color-yellow) !important;
  margin-left: auto;
}

.goToText {
  display: flex;
  align-items: center;
  position: absolute;
  align-self: center;
}

.nextPageButtonRow {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 36px !important;
  font-weight: bold !important;
  justify-content: flex-end;
  border: 1px solid blue !important;
  margin-left: auto;
}

.decisionButtonRow {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  background: var(--set1-pink-bk);
  border: 2px solid var(--set1-purple-brdr);
  border-radius: 9px;
  width: 100%;
  height: 100%;
}

.navigationButtonRow {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 36px !important;
  background-color: var(--set1-pink-bk) !important;
  color: purple !important;
  font-weight: bold !important;
  justify-content: flex-end;
  width: 40%;
  align-self: center;
  height: 14vh;
  width: 18vh;
  margin-left: auto;
  border-radius: 7px;
  overflow: hidden;
}

.fourArrowsImage {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -1%;
}

.nextButton {
  border: 1px solid var(--set1-purple-brdr);
  background: var(--set1-lav-bk);
  display: flex;
  align-items: center;
  font-size: 1.4vh;
}

.choiceButton {
  border: 1px solid var(--set1-purple-brdr);
  background: var(--set1-lav-bk);
  display: flex;
  align-items: center;
  border-radius: 0.8vh;
  height: unset;
  padding: 0.1vh 0.5vh !important;
  min-width: 3vh;
  height: 2.2vh;
  min-height: unset;
  display: flex;

  font-size: 1.5vh;
}

.sceneLeft {
  display: flex;
  position: absolute;
  right: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.sceneRight {
  display: flex;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.sceneTop {
  display: flex;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
}

.sceneBottom {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
