.main {
  position: absolute;
  border: 2px solid purple !important;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-self: center;
  justify-self: center;

  border-radius: 9px;
  width: auto;
  max-height: 10vh;
  background: white;
  top: 0;
  padding: 1vh;
  margin: 1vh;
  width: 90%;

  .header {
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 100%;
  }

  .title {
    position: relative;
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 100%;
  }

  .row {
    position: relative;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    border-radius: 0.5vh;
    width: 100%;
  }

  .left,
  .right {
    position: relative;
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 40%;
  }

  .left {
  }
  .right {
    position: relative;
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 40%;
    font-size: 30px;
    justify-content: flex-end;
  }
}
