.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  top: 6vh;
  left: 3vw;
  right: 51.6vw;
  overflow: hidden;
  background: #ffffffa6;
  border: 1px solid black !important;
  border-radius: 1vh;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1;
  background: #ffffffa6;
  border: 1px solid black !important;
  border-radius: 1vh;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1;

  .header {
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 100%;
  }

  .title {
    position: relative;
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    width: 100%;
  }

  .row {
    position: relative;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    border-radius: 0.5vh;
    width: 100%;
  }

  .left,
  .right {
    position: relative;
    display: flex;
    flex: 1 1;
    border-radius: 0.5vh;
    max-width: 40%;
    font-size: 2vh;
    overflow: hidden;
  }

  .left {
  }
  .right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
    border-radius: 0.5vh;
    font-size: 30px;
  }
}
