.girlHeadKat {
  width: 114%;
  height: auto;
}

.girlPickerContainer {
  border: 1px solid var(--color-purple-dark);
  display: flex;
  height: auto;
  padding: 8px;
  margin: 0.6rem;
  background: #ff85a5;
  border-radius: 0.3rem;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
  // width: calc(5 * var(--cell-height-small));
}

.youContainer {
  border: 1px solid blue !important;
}

.narrativeClass {
  :global {
    [class*="WordGroup_sentenceWord__"] {
      border: 1px solid green !important;
      font-size: 1rem;
    }
  }
}

.scenesContainer {
  display: flex;
  height: 90%;
}

.narrative {
  position: absolute;
  top: 5%;
  left: 4%;
  color: var(--story-text);
}

.girlPickersContainer {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;

  position: absolute;

  top: 0;
  left: 0;

  z-index: 20;
  height: auto;
  background: #a1a1ff;
  // padding: 24px;
  margin: 24px;

  border-radius: 5px;
}

.locationImageContainer {
  height: 23%;
  width: 40%;
  position: absolute;
  bottom: 41%;
  right: 10px;

  .locationImage {
    height: 100%;
    width: auto;
  }
}

.bookImageContainer {
  position: absolute;
  bottom: 0px;
  z-index: 10;

  .bookImage {
    height: auto;
    width: 100%;
  }
}

.notebookImageContainer {
  position: absolute;
  top: 1%;
  width: 90%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;

  .notebookImage {
    height: auto;
    width: 100%;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 730px;
  }
}

.closeButton {
  border: 1px solid red !important;
  position: absolute;
  right: 24px;
  top: 24px;
}

.toggleFacePickerButton {
  border: 1px solid purple !important;
  position: absolute;
  height: 4%;
  width: 4%;
}

.toggleFacePickerButton2 {
  border: 1px solid purple !important;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16%;
  width: 4%;
}

.scene {
  display: flex;
  margin-right: 10px;
  border: 1px solid green !important;
  position: relative;
}

.charactersContainer {
  height: 38%;
  display: flex;
  position: absolute;
  bottom: 9%;
  left: 3%;
}
