.dialogEditor {
  border: 1px solid red !important;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 30%;
}

.closeButton {
  border: 1px solid red !important;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.dialog {
  /* position: absolute; */
  display: flex;
  z-index: 10;
  flex-direction: column;
  /* width: 100%; */
  padding-left: 7%;
  justify-content: flex-end;
  padding-right: 7%;
  bottom: 1%;
  border: 1px solid;
  border-radius: 6px;
  background: white;
  padding: 1rem;
  margin: 1rem;

  .line {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 2%;
    border-radius: 0.5rem;
    width: fit-content;
    min-width: 73%;

    [class*="WordGroup_sentence__"] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 18px;
    }
  }

  // TODO - move colors to colors.js
  .character0 {
    border: 3px solid orange !important;
    color: #8610ff;
    background: #f7e59a;
    margin-left: auto;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-end;
    }
  }

  .character1 {
    border: 3px solid #ff005c !important;
    background: #ffcee6;
    color: #b900ff;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-start;
    }
  }
}

.girlPickerContainer {
  border: 1px solid var(--set1-purple-brdr);
  display: flex;
  height: auto;
  padding: 8px;
  margin: 0.6rem;
  background: var(--set1-pink-bk);
  border-radius: 0.3rem;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
  // width: calc(5 * var(--cell-height-small));
}

.youContainer {
  // border: 1px solid blue !important;
}

.narrativeClass {
  :global {
    [class*="WordGroup_sentenceWord__"] {
      border: 1px solid green !important;
      font-size: 2.7rem;
    }
  }
}

.scenesContainer {
  display: flex;
  height: 100%;
  position: relative;
}

.narrative {
  position: absolute;
  top: 5%;
  left: 4%;
  color: var(--story-text);
}

.girlPickersContainer {
  border: 2px solid var(--set1-purple-brdr);
  display: flex;
  flex-direction: column;

  position: absolute;

  bottom: 0;
  left: 0;

  z-index: 20;
  height: auto;
  background: var(--set1-lav-bk);
  margin: 24px;

  border-radius: 5px;
}

.locationImageContainer {
  height: 22%;
  position: absolute;
  bottom: 41%;
  right: 2%;

  .locationImage {
    height: 100%;
    width: auto;
  }
}

.bookImageContainer {
  position: absolute;
  top: 3%;
  z-index: 10;
  width: 100%;

  .bookImage {
    height: auto;
    width: 100%;
  }
}

.notebookImageContainer {
  width: 100%;
  position: relative;
  max-height: 170px;

  .notebookImage {
    height: auto;
    width: 100%;
    display: none;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: unset;

    &.isEditMode {
      // border: 10px solid red !important;
      max-width: 730px;
    }
  }
}

.toggleFacePickerButton {
  border: 1px solid var(--set1-purple-brdr) !important;
  position: absolute;
  height: 4%;
  width: 4%;
  z-index: 10;
}

.toggleFacePickerButton2 {
  border: 1px solid var(--set1-purple-brdr) !important;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16%;
  width: 4%;
  z-index: 100;
}

.scene {
  display: flex;
  position: relative;
  overflow: hidden;
}

.charactersContainer {
  /* height: 38%; */
  display: flex;
  position: absolute;
  bottom: 1%;
  width: 66%;
  /* left: 3%; */
  justify-content: space-around;
  height: 30%;
}
