.dialog {
  /* border: 1px solid red !important; */
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  flex-direction: column;
  width: 100%;
  top: 0px;
  padding-top: 3%;
  padding-left: 7%;
  // height: 31%;
  justify-content: flex-end;
  padding-bottom: 0px;
  padding-right: 7%;

  .line {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 2%;
    border-radius: 0.5rem;
    width: fit-content;
    min-width: 73%;

    [class*="WordGroup_sentence__"] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 18px;
    }
  }

  .kat {
    border: 3px solid orange !important;
    color: #8610ff;
    background: #f7e59a;
    margin-left: auto;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-end;
    }
  }

  .liz {
    border: 3px solid #ff005c !important;
    background: #ffcee6;
    color: #b900ff;

    [class*="WordGroup_sentence__"] {
      justify-content: flex-start;
    }
  }
}

.girlPickerContainer {
  border: 1px solid var(--set1-purple-brdr);
  display: flex;
  height: auto;
  padding: 8px;
  margin: 0.6rem;
  background: var(--set1-pink-bk);
  border-radius: 0.3rem;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
  // width: calc(5 * var(--cell-height-small));
}

.youContainer {
  // border: 1px solid blue !important;
}

.narrativeClass {
  :global {
    [class*="WordGroup_sentenceWord__"] {
      border: 1px solid green !important;
      font-size: 2.7rem;
    }
  }
}

.scenesContainer {
  display: flex;
  height: 100%;
}

.narrative {
  position: absolute;
  top: 5%;
  left: 4%;
  color: var(--story-text);
}

.girlPickersContainer {
  border: 2px solid var(--set1-purple-brdr);
  display: flex;
  flex-direction: column;

  position: absolute;

  bottom: 0;
  left: 0;

  z-index: 20;
  height: auto;
  background: var(--set1-lav-bk);
  margin: 24px;

  border-radius: 5px;
}

.locationImageContainer {
  height: 22%;
  position: absolute;
  bottom: 41%;
  right: 2%;

  .locationImage {
    height: 100%;
    width: auto;
  }
}

.bookImageContainer {
  position: absolute;
  bottom: 0px;
  z-index: 10;

  .bookImage {
    height: auto;
    width: 100%;
  }
}

.notebookImageContainer {
  position: absolute;
  top: 1%;
  width: 95%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid transparent;

  .notebookImage {
    height: auto;
    width: 100%;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 730px;
  }
}

.toggleFacePickerButton {
  border: 1px solid var(--set1-purple-brdr) !important;
  position: absolute;
  height: 4%;
  width: 4%;
  z-index: 10;
}

.toggleFacePickerButton2 {
  border: 1px solid var(--set1-purple-brdr) !important;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16%;
  width: 4%;
  z-index: 100;
}

.scene {
  display: flex;
  margin-right: 10px;
  border: 2px solid var(--set1-purple-brdr);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.charactersContainer {
  height: 38%;
  display: flex;
  position: absolute;
  bottom: 9%;
  width: 100%;
  left: 3%;
  justify-content: space-around;
}
