.uploadButton {
  display: flex;
}
.main {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  width: 20%;
  height: 90%;
  background: none;
  border: none;
  border-radius: 9px;
  border: 5px solid green !important;
  background: white;
  right: 3%;
  top: 3%;
}

.jsonPaster {
  display: flex;
  position: relative;
  width: 100%;
  height: 100% !important;
  background: none;
  border: none;
  background: #f1e1cc;
}
