@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 80vh;
  background: pink;
  z-index: 10;
  bottom: 10%;
  align-items: center;
  margin: auto;
}

.narrativeClass {
  :global {
    [class*="WordGroup_sentenceWord__"] {
      border: 1px solid green !important;
      font-size: 1rem;
    }
  }
}

.scenesContainer {
  display: flex;
  height: 90%;
}

.narrative {
  position: absolute;
  top: 5%;
  left: 4%;
  color: var(--story-text);
}

.girlPickersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14% 0;
}

.locationImageContainer {
  height: 23%;
  width: 40%;
  position: absolute;
  bottom: 41%;
  right: 10px;

  .locationImage {
    height: 100%;
    width: auto;
  }
}

.bookImageContainer {
  position: absolute;
  bottom: 0px;
  z-index: 10;

  .bookImage {
    height: auto;
    width: 100%;
  }
}

.notebookImageContainer {
  position: absolute;
  top: 1%;
  width: 90%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;

  .notebookImage {
    height: auto;
    width: 100%;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 730px;
  }
}

.closeButton {
  border: 1px solid red !important;
  position: absolute;
  right: 24px;
  top: 24px;
}

.scene {
  display: flex;
  /* height: 86%; */
  margin-right: 10px;
  border: 3px solid green !important;
  width: 30%;
  height: 50%;
}

.characterLabel {
  @include item-label;
  position: absolute;
}

.moodLabel {
  @include item-label;
  border: 1px solid blue !important;
  background: var(--light-pink);
  border-radius: 3px;
  padding: 0 3px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  top: unset;
}

.girlPickerContainer {
  border: 1px solid var(--color-purple-dark);
  display: flex;
  height: auto;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: calc(3 * var(--cell-height-small));
  width: calc(3 * var(--cell-height-small));
}
