@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 80vh;
  background: pink;
  z-index: 10;
  bottom: 10%;
  align-items: center;
  margin: auto;
}
