@import "../../Styles/mixins.modules.scss";

.headForBody {
  background: transparent !important;
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 58%;
  top: unset !important;
  border: none !important;
}

.girlBodyContainer {
  height: 23%;
  position: absolute;

  bottom: 30%;
  left: 3%;

  .girlBodyImage {
    // border: 1px solid blue !important;
    height: 100%;
    width: auto;
  }
}

.locationImageContainer {
  height: 23%;
  width: 40%;
  position: absolute;
  bottom: 41%;
  right: 10px;

  .locationImage {
    // border: 1px solid blue !important;
    height: 100%;
    width: auto;
  }
}

.bookImageContainer {
  position: absolute;
  bottom: 0px;

  .bookImage {
    height: auto;
    width: 100%;
  }
}

.notebookImageContainer {
  position: absolute;
  top: 1%;
  width: 90%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;

  .notebookImage {
    height: auto;
    width: 100%;
  }
}

.backgroundSky {
  .backgroundSkyImage {
    display: flex;
  }
}

.backgroundImageContainer {
  display: flex;
  position: relative;
}

.backgroundGrass {
  display: flex;

  .backgroundGrassImage {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 730px;
  }
}

.closeButton {
  border: 1px solid red !important;
  position: absolute;
  right: 24px;
  top: 24px;
}

.main {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 80vh;
  background: pink;
  z-index: 10;
  bottom: 10%;
  align-items: center;
  margin: auto;
}

.scene {
  display: flex;
  height: 90%;
  border: 3px solid green !important;
}

.characterLabel {
  @include item-label;
  position: absolute;
}

.bodyLabel {
  @include item-label;
  border: 1px solid blue !important;
  background: var(--light-pink);
  border-radius: 3px;
  padding: 0 3px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 25%);
  top: unset;
  bottom: 12%;
}

.moodLabel {
  @include item-label;
  border: 1px solid blue !important;
  background: var(--light-pink);
  border-radius: 3px;
  padding: 0 3px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  top: unset;
}

.girlPickerContainer {
  border: 1px solid var(--color-purple-dark);
  display: flex;
  height: auto;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: calc(3 * var(--cell-height));
  width: calc(3 * var(--cell-height));
}

.girlHeadContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  background: var(--light-pink);

  border: 1px solid var(--color-purple-dark);
  top: 0px;
  left: 0px;

  max-height: var(--cell-height);
  min-height: var(--cell-height);

  min-width: var(--cell-height);
  max-width: var(--cell-height);
}

.girlHead {
  width: 100%;
  height: auto;
}

.girlHeadAmber {
  width: 170%;
  height: auto;
}
