@import "../../Styles/mixins.modules.scss";

.main {
  --cell-height: 30vh;
  --item-width: 7vh;
  --item-height: 7vh;

  border: 1px solid red !important;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .newGrid {
    border: 1px solid red !important;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .gridRow {
      display: flex;
      border: 1px solid blue !important;
    }

    .gridCell {
      display: flex;
      border: 1px solid green !important;
      overflow: hidden;
      height: var(--cell-height);
      width: var(--cell-height);
      position: relative;

      .column1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        border: 1px solid green !important;
      }

      .column2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0;
        border: 1px solid red !important;
      }

      .locationMachine {
        height: var(--item-height);

        :global {
          [class*="CrudMachine_itemContainer"] {
            height: unset;
          }
        }
      }

      .charactersMachine {
        height: var(--item-height);

        :global {
          [class*="CrudMachine_itemContainer"] {
            height: unset;
          }
        }
      }

      .doorsBottomMachine {
        height: var(--item-height);
        display: flex;

        :global {
          [class*="CrudMachine_itemContainer"] {
            height: unset;
          }
        }
      }

      .doorsRightMachine {
        height: var(--item-height);
        display: flex;

        :global {
          [class*="CrudMachine_itemContainer"] {
            height: unset;
          }
        }
      }

      .itemsMachine {
        height: var(--item-height);

        :global {
          [class*="CrudMachine_itemContainer"] {
            height: unset;
          }
        }
      }
    }
  }

  // TODO - make these scale
  // TODO - make these scale
  // TODO - make these scale
  // TODO - make these scale
  :global {
    [data-react-beautiful-dnd-draggable] {
      height: var(--cell-height);
      width: var(--cell-height);
      padding: 0px !important;
      margin: 0px !important;

      img[class*="PicturePage_characterImageMini__"] {
        display: none;
      }
    }
  }

  .characterImage {
    @include character-image;
  }
}

.mapPickerRow {
  justify-content: space-between;
  border: 1px solid green !important;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.mapPickerRowButtons {
}

.mapPickerRowTitle {
  display: flex;
  flex: 1;
}

.editWorldButtons {
}

.scenesContainer {
  border: 1px solid red !important;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  [class*="MiniLocation_main"] {
    border: 1px solid blue !important;
    width: 150px;
    height: 150px;
  }
}

.sizerDiv {
  display: flex;
  min-width: 150px;
  min-height: 150px;
  border: 1px solid green !important;
}

.rowDiv {
  display: flex !important;
  border: 1px solid green !important;
  display: flex;
  max-height: 150px;
}

.worldPickerDropdown {
  top: 0px;
  z-index: 1000;
  right: 0px;
}

.worldPickerDropdownPopover {
  :global {
    .bp3-transition-container {
      z-index: 200;
      border: 1px solid red !important;
    }
  }
}

.locationGridContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.scenePropsButton {
  position: absolute;
  display: flex;
  right: 1%;
  z-index: 1;
}

.source {
  border: 1px solid green !important;
  display: flex;
  margin-right: 1%;
  max-height: 80vh;
  overflow: auto;
}

.destination {
  border: 1px solid green !important;
  display: flex;
  flex: 0;
  max-height: var(--cell-height);
  min-height: var(--cell-height);
}

.targetGrid {
  display: flex;
  flex-direction: column;
  margin: 5px;

  .targetRow {
    display: flex;
  }
}

.title {
  font-size: 30px;
}

.subTitle {
  font-size: 24px;
}

.content {
  display: flex;
  overflow: scroll;
  border: 1px solid blue !important;
  height: 100%;
  align-items: flex-start;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
