@import "../../Styles/mixins.modules.scss";

.test {
  border: 1px solid red !important;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  [class*="MiniLocation_main"] {
    border: 1px solid blue !important;
    width: 150px;
    height: 150px;
  }
}

.sizerDiv {
  display: flex;
  min-width: 150px;
  min-height: 150px;
  border: 1px solid green !important;
}

.rowDiv {
  display: flex !important;
  border: 1px solid green !important;
  display: flex;
  max-height: 150px;
}

.worldPickerDropdown {
  position: absolute;
  top: 0px;
  z-index: 1000;
  right: 0px;
}

.locationGridContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.scenePropsButton {
  position: absolute;
  display: flex;
  right: 1%;
}

.main {
  border: 1px solid red !important;
  display: flex;
  flex-direction: column;

  :global {
    [data-react-beautiful-dnd-draggable] {
      height: var(--cell-height);
      width: var(--cell-height);
      padding: 0px !important;
      margin: 0px !important;

      img[class*="PicturePage_characterImageMini__"] {
        display: none;
      }
    }
  }

  .characterImage {
    @include character-image;
  }
}

.source {
  border: 1px solid green !important;
  display: flex;
  margin-right: 100px;
  max-height: 90vh;
  overflow: auto;
}

.destination {
  border: 1px solid green !important;
  display: flex;
  flex: 0;
  max-height: var(--cell-height);
  min-height: var(--cell-height);
}

.targetGrid {
  display: flex;
  flex-direction: column;
  margin: 5px;

  .targetRow {
    display: flex;
  }
}

.title {
  font-size: 30px;
}

.subTitle {
  font-size: 24px;
}

.content {
  display: flex;
}
