.main {
  border: 1px solid red !important;
  display: flex;

  :global {
    [data-react-beautiful-dnd-draggable] {
      height: 100px;
      padding: 0px !important;
      margin: 0px !important;

      img[class*="PicturePage_characterImageMini__"] {
        display: none;
      }
    }
  }
}

.source {
  border: 1px solid green !important;
  display: flex;
  margin-right: 100px;
}

.destination {
  border: 1px solid green !important;
  display: flex;
  flex: 0;
  max-height: 150px;
  min-height: 150px;
}
