.main {
  border: 1px solid red !important;
  display: flex;

  :global {
    [data-react-beautiful-dnd-draggable] {
      border: 1px solid red !important;
      height: 100px;

      img[class*="PicturePage_characterImageMini__"] {
        display: none;
      }
    }
  }
}

.source {
  border: 1px solid green !important;
  display: flex;
  margin-right: 100px;
}

.destination {
  border: 1px solid green !important;
  display: flex;
}
