.main {
  .narrative {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 0.6vh 0vh;

    .sentence {
      display: flex;
      align-items: center;

      font-size: var(--story-font-size);
      flex-wrap: wrap;

      .sentenceWord {
        border: 1px solid transparent !important;
        border-radius: 10px;
        margin-left: 0;
        padding-right: 0.25em;
        padding-left: 0.25em;
        line-height: 2.4rem;
        font-weight: 200;
      }

      .sentenceWord:focus {
        border: 1px solid blue !important;
        outline: none;
      }
    }

    .sentence:nth-of-type(3n) {
      margin-bottom: 24px;
    }
  }
}
