@import "../../Styles/mixins.modules.scss";

.arrowNavigatorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 36px !important;
  font-weight: bold !important;
  width: 40%;
  height: 9vh;
  width: 19vh;
  border-radius: 7px;
  position: absolute;
  /* left: 75%; */
  /* transform: translateX(-50%); */
  margin-top: 0vh;
  background: none !important;
  right: 1vh;
  background: white !important;
  padding: 0.5vh;
  border: 2px solid purple;
  /* border-top: none; */
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -2px;
  z-index: 10;
}

.fourArrowsImage {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -1%;
}

.diamond2Image {
  position: absolute;
  display: flex;
  height: 110%;
  width: 110%;
  margin-top: -5%;
  display: none;
}

.choiceButton {
  border: 1px solid var(--set1-purple-brdr);
  background: white !important;
  align-items: center;
  border-radius: 0.7vh;
  padding: 0.1vh 0.5vh !important;
  min-width: 3vh;
  height: 2.2vh;
  min-height: unset;
  display: flex !important;
  font-size: 1.5vh;
}

.sceneLeft {
  display: flex;
  position: absolute;
  right: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.sceneRight {
  display: flex;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.sceneTop {
  display: flex;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
}

.sceneBottom {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
