@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex: 1;
  border: 1px solid red !important;
  .itemsContainer {
    display: flex;
    flex: 1;
    border: 1px solid blue !important;
    overflow: hidden;

    .itemContainer {
      &:last-of-type {
        border: 10px solid blue !important;
        .add-after {
          border: 3px solid black !important;
        }
      }

      display: flex;
      border: 1px solid green !important;
      overflow: hidden;

      height: 200px;
      width: 200px;
      background: palevioletred;
      align-items: flex-end;
      justify-content: center;
      position: relative;

      .item {
        display: flex;
        flex: 1;
        border: 1px solid black !important;
      }

      .buttonsRow {
        display: flex;
        // flex: 1;
        border: 1px solid purple !important;
        position: absolute;
        top: 0;
        right: 0;

        .itemButton {
          display: flex;
          flex: 1;
          border: 1px solid orange !important;
        }

        .addAfter {
          display: flex;
          flex: 1;
          border: 3px solid pink !important;
        }
      }
    }
  }
}
