@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 2px solid red !important;
  background: pink;
  // width: min-content;
  width: 100%;

  .itemsContainer {
    display: flex;
    flex: 1;
    // border: 1px solid blue !important;
    overflow: hidden;
    width: 100%;

    .itemContainer {
      display: flex;
      border: 1px solid green !important;
      overflow: hidden;

      height: 100px;
      width: 100px;
      background: palevioletred;
      align-items: flex-end;
      justify-content: center;
      position: relative;

      .item {
        display: flex;
        flex: 1;
        // border: 1px solid black !important;
      }

      .buttonsRow {
        display: flex;
        border: 1px solid purple !important;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;

        .itemButton {
          display: flex;
          max-width: 38px;
          margin-left: auto;

          &:first-of-type {
            margin-left: unset;
          }
        }
      }
    }
  }
}
