@mixin item-label {
  position: absolute;

  background: #e1d8ea;
  border-radius: 3px;
  padding: 0 3px;
  top: 7%;
  left: 7%;
}

@mixin character-image {
  max-height: var(--cell-height);
  min-height: var(--cell-height);
  position: relative;
  overflow: hidden;
  background: #fbf3f3;

  & > img {
    border: 1px solid red !important;
    display: flex;
    height: 150px;
    width: auto;
  }

  .characterLabel {
    :global {
      position: absolute;
      @include item-label;
    }
  }
}
